/* Write your CSS here */
.languageButton {
  color: #0f172a;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  border: none;
  margin: 15px;
  padding: 5px;
  flex-shrink: 0;
  outline: none;
  cursor: pointer;
}

.activeLanguageButton {
  color: #0284c7;
  border-radius: 25px;
  border: 1px solid #0284c7;
}
